:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;

  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#header-pill {
  width: 200px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  background-color: #222;
  color:white;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding:20px;
  box-shadow:0 1px 10px 0 rgba(230, 230, 230, 0.532);

}

#main-app {
  width:90%;
  margin:auto;
  background-color: #ddd;
  border-radius: 7px;
  display:block;
  padding: 20px;
}

#console {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  margin-top:20px;
  color:black;
  text-align: left;
  height: 400px;
  overflow-y:auto;
  position:relative;
  scroll-snap-type:proximity;
  font-family: monospace;
  /* display:none; */
}

#console p {
  height:15px;
}

#footer {
  width: 30%;
  position:fixed;
  bottom: 30px;
  height: 30px;
  text-align: center;

}

#footer img {
  height: 40px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
